/*Type Selectors*/

body {
	color: red;
}

ul {
	color: blue;
}

li a {

}

li + a {

}

/*Class, Attribute, and Pseudo-Slass Selectors*/
.hello {

}

input[type="text"] {

}

a:hover {
	
}

/*ID Selectors*/
#special {

}